.container {
  width: 100wv;
  display: flex;
  align-items: center;
  justify-content: center;
  .flights {
    margin: 1rem;
    background-color: aliceblue;
    opacity: 0.8;
    width: 80%;
    height: 80%;
    @media screen and (max-width: 480px) {
      width: 100%;
      height: 100%;
    }
  }
}
.flight_result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 10px;
}
